@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-lama-sky: #C3EBFA;
  --color-lama-sky-light: #EDF9FD;
  --color-lama-purple: #CFCEFF;
  --color-lama-purple-light: #F1F0FF;
  --color-lama-yellow: #FAE27C;
  --color-lama-yellow-light: #FEFCE8;
}